In [1]:
import pandas as pd
import traitlets
import matplotlib.pyplot as plt
import ipywidgets
import numpy as np

In [2]:
df = pd.read_csv('ufo.csv',
                 names = ["date", "city", "state", "country",
                          "shape", "duration_seconds", "duration",
                          "comment", "report_date", "latitude", "longitude"],
                  parse_dates = ["date", "report_date"])
df1 = df.fillna({'country':'unknown', 'state':'unknown', 'shape':'unknown'})
df1

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,unknown,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),unknown,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778

In [6]:
@ipywidgets.interact(x = ["date", "city", "state", "country",
                          "shape", "duration_seconds",
                          "report_date", "latitude", "longitude"],
                    y = ["date", "duration_seconds",
                          "report_date", "latitude", "longitude"],
                    style = plt.style.available)
def graph_builder(x, y,style):
    print('let us select at least a numerical column!')
    with plt.style.context(style):
        fig, ax = plt.subplots(1,1, figsize=(12,7))
        plt.scatter(df1[x], df1[y], 
            c=np.log10(df1['duration_seconds']))
    plt.show()

interactive(children=(Dropdown(description='x', options=('date', 'city', 'state', 'country', 'shape', 'duratio…

In [28]:
@ipywidgets.interact(x = ["date", "city", "state", "country",
                          "shape"],
                    y = ["duration_seconds",
                          "report_date", "latitude", "longitude"],
                    num_of_bins= [5, 10, 15, 20, 50, 100, 150, 200, 500])
def binned_graph(x, y,num_of_bins):
    print('let us select at least a numerical column!')
    fig, ax = plt.subplots(figsize=(20,5))
    agg_data = df1.groupby(x)[y].sum()
    print(agg_data)
    agg_data.hist(bins = num_of_bins)
    #plt.bar(x,y,bins)
    #plt.hist(agg_data)
    plt.show()

interactive(children=(Dropdown(description='x', options=('date', 'city', 'state', 'country', 'shape'), value='…